{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Fauna Resume Builder
  </title>
  <link href="{% static './style.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!-- partial:index.partial.html -->
  <div id="javascript_header">
  </div>
  <form method="POST">
    {% csrf_token %}
   <div class="form__header">
    <h1>
     Register/Sign Up
    </h1>
    <p>
     Enter your login details below.
    </p>
   </div>
   <div class="form-group">
    <label for="name">
     Username
     <span>
      *
     </span>
    </label>
    <input id="username" name="username" type="text"/>
    <div class="error" id="name__error">
    </div>
   </div>
   <div class="form-group">
    <label for="email">
     Email
     <span>
      *
     </span>
    </label>
    <input id="email" name="email" type="email"/>
    <div class="error" id="name__error">
    </div>
   </div>
   <div class="form-group">
    <label for="password">
     Password
     <span>
      *
     </span>
    </label>
    <input id="password" name="password" type="password"/>
   </div>
   <div class="line-break">
   </div>
   <input id="register" type="submit" value="Register"/>
    Already have an account? <a href="login">Sign In</a>
  </form>
  <!-- partial -->
  <script src="{% static './script.js' %}">
  </script>
 </body>
</html>
